<h1>Books</h1>
<div class="index">
  <p><strong>Title</strong></p>
  <p><strong>Body</strong></p>
  <% @indexes.each do |book| %>
    <span><%= book.title %></span>

    <span><%= book.body %></span>
    <%= link_to "Show",book_path(book.id),method: :get %>
    <%= link_to "Edit",edit_book_path(book.id),method: :get %>
    <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>
  
</div>
<h2>New book</h2>
<% if @books.errors.any? %>
  <%= @books.errors.count %>件のエラーが発生しました
  <ul>
    <% @books.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

<%= form_with model: @books,url: '/books',method: :post do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>