<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th><strong>Title</strong></th>
      <th><strong>Body</strong></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @indexes.each do |book| %>
      <tr>
        <td><span><%= book.title %></span></td>

        <td><span><%= book.body %></span></td>
        <td><%= link_to "Show",book_path(book.id),method: :get %></td>
        <td><%= link_to "Edit",edit_book_path(book.id),method: :get %></td>
        <td><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>New book</h2>
<% if @books.errors.any? %>
  <%= @books.errors.count %>件のエラーが発生しました
  <ul>
    <% @books.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

<%= form_with model: @books,url: '/books',method: :post do |f| %>
  <div class="field">
    <label>Title</label>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <label>Body</label>
    <%= f.text_area :body %>
  </div>
  <div class="button">
    <%= f.submit 'Create Book' %>
  </div>
<% end %>