<h1>Books</h1>

<%= @books.each do |book| %>
  <p>Title</p>
  <span><%= book.title %></span>

  <p>Body</p>
  <span><%= book.body %></span>
<% end %>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>